/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
  transition: background-color 0.4s;
  background-color: #212529;
  background-image: url('../img/fon_1920x1080 (1).png'); /* Замените на URL вашей фоновой картинки */
  background-size: cover;
  background-attachment: fixed; /* Добавьте это свойство для фоновой картинки */
  background-position: center; /* Позиционируем фон по центру */
  position: relative; /* Устанавливаем позицию относительно body */
}

.wrapper {
        background: rgba(0, 0, 0, 0.63);
    /*box-shadow: 0px 0px 20px -10px #000000;*/
}

.block__column__left {
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 200px);*/
  background: linear-gradient(to bottom, #212529, rgba(0, 0, 0, 0) 250px);
  padding-bottom: 0px;
}

.block__column_logo {
    /*background: rgba(0, 0, 0, 0.63);*/
   /*box-shadow: 0px 0px 20px -10px #000000;*/
   /*box-shadow: 0px 0px 49px 30px #000000;*/
 }

.header {text-align: center;
   display: none;
  } 

.content {
    /*border: 1px solid #ff7f50;*/
   display: flex;
   flex-direction: row;
    /*align-items: center;*/
    aligh-item: flex-center;
    background: linear-gradient(to bottom, #212529, rgba(0, 0, 0, 0) 250px);
}

.block__column__left {
   text-align: center;
    flex-basis: 9%;
}

.block__column__down {
display: flex;
  height: 45.5vh;
 }

#ppb-1{
    flex: 1; /* Равномерное распределение в рамках контейнера */
    box-sizing: border-box; /* Учтем отступы внутри ширины баннера */
    overflow: hidden;
  /*margin: 0px 15px;*/
       display: flex;
    justify-content: center;
    /*align-items: center;*/
    border-top: 1px solid #ffff;
    border-left: 1px solid #ffff;
    border-right: 1px solid #ffff;
}

#ppb-2,
#ppb-3 {
    flex: 1; /* Равномерное распределение в рамках контейнера */
    box-sizing: border-box; /* Учтем отступы внутри ширины баннера */
    overflow: hidden; /* Обрезка изображения, если оно не помещается */
    height: 50vh;
   /*margin: 0px 15px;*/
       display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*border: 1px solid #ffff;*/
    border-top: 1px solid #ffff;
    border-left: 1px solid #ffff;
    border-right: 1px solid #ffff;
    /*border-bottom: 1px solid #ffff;*/
}

.block__column_logo {
   /*height: 8vh;*/
   height: 6vh;
}

.block__column_icons {
    /*height: 45.5vh;*/
   height: 48.5vh;
   /*height: 44.8vh;*/
   display: flex; /* Родительский контейнер - флекс-контейнер */
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center;
}

#logo {
  display: flex;
  justify-content: center; /* Размещаем по горизонтали по центру */
  align-items: center;
}

#logo img{
    position: inherit;
    width: 75%;
    height: auto;

}


.block__column__center {
    text-align: center;
    flex-basis: 82%;
}

#videoiframe {
    /*border: 2px solid #2897d7;*/
    border: 0px solid #5400ff00;
   border-radius: 10px;
}

.block__column__right {
    text-align: center;
    flex-basis: 9%;
}

/*
#ppb-2, #ppb-3 {
    border-top: 1px solid #ffff;
    border-left: 1px solid #ffff;
    border-right: 1px solid #ffff;
    border-bottom: 1px solid #ffff;
   flex-grow: 1;
}*/

#ppb-4, #ppb-5, #ppb-6, #ppb-7, #ppb-8, #ppb-9 {
    border: 1px solid #ffff;
   flex-grow: 1;
}

.icon img {
   border: 1px solid white;
   /*border-radius: 7px;*/
   border-radius: 30px;
   /* max-width:116px; */
   /*flex-basis: 8%;*/
   height: 2.3vw;
   width: auto;
   margin: auto;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   z-index: 9999;
}

.block__column_icon-1 {
    /*padding-top: 5px;*/
}

.icon {
   padding-bottom: 7px; // отступы между иконками
   /*transition: transform 0.2s ease;*/
   transition: transform 0.2s;
  transform-origin: center;
}

/*.icon:hover {
   transform: scale(1.2); //эффект увелечения иконок
}*/

.block__column_mobile {
    text-align: center;
}

#footer {
    display: flex;
   flex-direction: row;
   text-align: center;
}


#footer {
    display: flex;
    justify-content: space-between; /* Равномерное распределение баннеров */
    align-items: center; /* Выравнивание по вертикали по центру, если это необходимо */
}

#ppb-4,
#ppb-5,
#ppb-6,
#ppb-7,
#ppb-8,
#ppb-9 {
    flex: 1; /* Равномерное распределение в рамках контейнера */
    max-width: 16.66%; /* Максимальная ширина для каждого баннера (100% / 6) */
    box-sizing: border-box; /* Учтем отступы внутри ширины баннера */
    overflow: hidden; /* Обрезка изображения, если оно не помещается */
}

#ppb-1 img,
#ppb-2 img,
#ppb-3 img,
#ppb-4 img,
#ppb-5 img,
#ppb-6 img,
#ppb-7 img,
#ppb-8 img,
#ppb-9 img {
    width: 100%; /* Изображение занимает всю ширину контейнера */
    height: auto; /* Сохранение пропорций изображения */
    z-index: 9999;
}

#ppb-10 {
     border: 1px solid white;
}

/* стили под моб. устройства*/
@media screen and (max-width: 768px) {
    .block__column__center {
    text-align: center;
    flex-basis: 100%;
}

.collect-box li {
    list-style: none !important;
    margin-bottom: 10px !important;
    width: 50% !important;
}
 .logo_mobile img {
        max-width: 40%;
        /*max-width:105px;*/
    }


.block__column__right, .block__column__left {
    display: none !important;
}

#footer {
     flex-direction: column !important;
}

.header {
    text-align: center !important;
     display: block !important;
    display: flex !important;
    flex-direction: column !important;
    padding-top: 5px;
    /*padding-bottom: 5px;*/
    background: linear-gradient(to bottom, #212529, rgba(0, 0, 0, 0) 150px);
  padding-bottom: 0px;
} 

.block__column_icons_mobile {
   display: flex;
   flex-direction: row;
   justify-content: center; /* Горизонтальное выравнивание по центру */
   align-items: center;
   /*margin-bottom: 10px;*/
 }

#ppb-4, #ppb-5, #ppb-6, #ppb-7, #ppb-8, #ppb-9 {
    max-width: 100% !important;
    width: 100%;
 }

.icon-image {
    border: 1px solid white;
    border-radius: 30px;
   margin: 10px 5px 10px 5px;
}

#videoiframe {
    border: 0px solid #5400ff00;
    border-radius: 0px;
}

.block__column_icons_mobile {
    display: flex;
    background: rgba(256,256,256,0.5);
    /* padding: 20px; */
    /* padding-bottom: 5px; */
    border-radius: 10px;
    text-align: center;
    margin: 5px 10px 10px 10px;
    /* box-shadow: 0px 0px 32px -7px #00199f; */
    box-shadow: 0px 7px 60px -7px #5c009f;
}

}


.all_icons {
    display:inline-block;
    /*display: inline-grid;*/
  background: rgba(256,256,256,0.5);
  padding:12px 20px;
  /*padding-bottom: 5px;*/
  border-radius:10px;
  text-align:center;
  /*margin:14px 10px;*/
  /*box-shadow: 0px 0px 32px -7px #00199f;*/
  box-shadow: 0px 10px 50px -7px #5c009f;
}

.icon:hover {
    transform: rotate(360deg)scale(1.2);
    /*transition: transform 0.2s*/
  }



/*Подборки*/

#container-podborki {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
        /* margin: 20px; */
    padding: 17px 10px 0 10px;
}

.podborki__item {
    position: relative;
    width: calc(20% - 15px);
    /*height: 140px;*/
    border-radius: 10px;
    margin-bottom: 15px;
    overflow: hidden;
    border: 1px solid white;
     box-shadow: 0px 5px 50px -7px #5c009f;
}

@media (max-width: 768px){
.podborki__item {
    /*width: calc(100% / 2 - 6px) !important;*/
    width: calc(50% - 6px) !important;
    /*margin-bottom: 12px !important;*/
    /*margin-top: 12px;*/
    /*padding-top: 12px !important;*/
}
.podborki__wrapper {
 padding: 5px !important;
 padding: 15px 5px 5px 5px !important;
}
.podborki__item-title {
    /*padding-top: 2px !important;*/
    padding-bottom: 3px !important;
    font-size: 15px !important;
}
.podborki__item-count {
width: 40px !important; /* Задайте фиксированную ширину элемента */
  height: 40px !important; /* Задайте фиксированную высоту элемента */
  border-radius: 50%; /* Создайте круглую рамку */
  display: flex;
  justify-content: center; /* Выравнивание содержимого по центру по горизонтали */
  align-items: center; 
    background-color: #7e48b7;
    box-shadow: 0px 5px 20px -7px #a78b38;
    border: 2px solid white;
    }
}


.podborki__item-count {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    width: 38px; /* Задайте фиксированную ширину элемента */
  height: 38px; /* Задайте фиксированную высоту элемента */
  border-radius: 50%; /* Создайте круглую рамку */
  display: flex;
  justify-content: center; /* Выравнивание содержимого по центру по горизонтали */
  align-items: center; 
    background-color: #7e48b7;
    box-shadow: 0px 5px 20px -7px #a78b38;
    border: 2px solid white;
}

.podborki__item-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    font-size: 20px;
    color: #ffffff;
    letter-spacing: .048em;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    background: linear-gradient(to top,rgba(0,0,0,.8),rgba(0,0,0,0));
    padding: 80px 24px 10px 24px;
    z-index: 1;
        /*background: rgba(0,0,0,.8);*/
    /*padding-bottom: 5px;*/
}

.podborki__item-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s ease-in-out;
    /*border: 1px solid white;*/
}

/*________________*/

/*СТИЛИ КНОПОК*/

.radio-buttons {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;
    padding-top: 14px;
    padding-bottom: 10px;
    width: 100%;
}

.radio-buttons label {
    flex: 1; /* Распределяет доступное пространство между кнопками равномерно */
    text-align: center;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: .048em;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    border-radius: 7px;
}

.radio-buttons input[type="radio"] {
    display: none; /* Скрываем сам radio-элемент */
}

.radio-buttons label {
    border: 1px solid #fff; /* Добавляем рамку */
    padding: 5px 10px; /* Добавляем отступы для кнопки */
    background-color: #daa520; /* Устанавливаем фон */
}

.radio-buttons input[type="radio"]:checked + label {
    background-color: #7e48b7; /* Изменяем фон для выбранной кнопки */
    color: #FFF; /* Изменяем цвет текста для выбранной кнопки */
}
.radio-buttons a {
    text-decoration: none;
    color: white; /* Устанавливаем белый цвет для ссылок */
    font-weight: bold;
}


.iframe-container {
            position: relative;
            width: 100%;
            height: 100vh;
        }

iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            /*overflow: hidden;  Скрываем прокрутку внутри iframe */

        }

}
/*__________*/

/*ТОП 20*/




/*__________*/
